body,
html {
  margin: 0;
  padding-top: 50px;
}

.main {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 293px;
  height: 220px;
}

.content {
  width: 293px;

  .navbar {
    display: none;
  }
}

.content img {
  display: none;
  border-radius: 5px;
}

.content:hover {
  .navbar {
    display: block;
  }
}

#visible {
  display: inline-block;
}

.scroll-turn {
  position: absolute;
  left: 45.5%;
  list-style: none;
}

.turn {
  display: inline-block;
  opacity: 0.8;
  background: #1E90FF;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#turn-active {
  background: #00CED1;
}

.turn:hover {
  background: #00CED1;
}

#prev {
  position: absolute;
  top: 83px;
  left: 665px;
  background: url("../../images/prev.png") no-repeat;
}

#next:hover,
#prev:hover {
  background-color: grey;
  opacity: 0.8;
}

#next {
  position: absolute;
  top: 83px;
  left: 926px;
  background: url("../../images/next.png") no-repeat;
}

#next,
#prev {
  background-size: 138%;
  cursor: pointer;
  width: 2%;
  height: 20%;
}
