html, body {
  margin: 0;
  padding-top: 50px;
}

.main {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 293px;
  height: 220px;
}

.content {
  width: 293px;
}
.content img {
  display: none;
}
#visible {
  display: inline-block;
}
.scroll-turn {
  position: absolute;
  left: 45.5%;
  list-style: none;
}
.turn {
  display: inline-block;
  opacity: 0.8;
  background: red;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.turn:hover {
  background: grey
}
.turn-active {
  background: grey
}
